<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HDDB</title>
    <meta property="og:title" content="HDDB" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 14px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        null
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./index.css" rel="stylesheet" />

      <div class="home-container">
        <div class="home-home-page">
          <a href="index.html" class="home-navlink">
            <h1 class="home-text TextBorder">Hard Drive Database</h1>
          </a>
          <div class="home-btn-group">
            <a href="brand-images.html" class="home-button button">
              Brand Images
            </a>
            <a href="model-database.html" class="home-navlink1 button">
              Model Database
            </a>

          </div>
          <div class="home-container01">
            <div class="home-container02">
              <span>Drive Vendors:</span>
              <span>Drive&nbsp;Models:</span>
              <span>Drive&nbsp;Benchmarks:</span>
              <span>Drive Model Images:</span>
            </div>
            <div class="home-container03">
              <span>[DriveVendors]</span>
              <span>[DriveModels]</span>
              <span>[DriveBenchmarks]</span>
              <span>[DriveModelImages]</span>
            </div>
          </div>
          <div class="home-container04">
            <span>
              All drive information benchmarks &amp; heatmaps in the Model
              Database have been submitted through the [DiskSpeed] Docker
              application running on *nix hosts.
            </span>
          </div>
          <div class="home-container05">
            <div class="home-container06">
              <span class="home-text010">Total Spinners Tested</span>
              <div class="home-container07">
                <div class="home-container08">
                  <span class="home-text011">1.</span>
                  <span class="home-text012">2.</span>
                  <span class="home-text013">3.</span>
                  <span class="home-text014">4.</span>
                  <span class="home-text015">5.</span>
                  <span class="home-text016">6.</span>
                  <span class="home-text017">7.</span>
                  <span class="home-text018">8.</span>
                  <span class="home-text019">9.</span>
                  <span class="home-text020">10.</span>
                </div>
                <div class="home-container09">
                  <span class="home-text021">[A1]</span>
                  <span>[A2]</span>
                  <span>[A3]</span>
                  <span>[A4]</span>
                  <span>[A5]</span>
                  <span>[A6]</span>
                  <span>[A7]</span>
                  <span>[A8]</span>
                  <span>[A9]</span>
                  <span>[A10]</span>
                </div>
                <div class="home-container10">
                  <span class="home-text031">[B1]</span>
                  <span>[B2]</span>
                  <span>[B3]</span>
                  <span>[B4]</span>
                  <span>[B5]</span>
                  <span>[B6]</span>
                  <span>[B7]</span>
                  <span>[B8]</span>
                  <span>[B9]</span>
                  <span>[B10]</span>
                </div>
              </div>
            </div>
            <div class="home-container11">
              <span class="home-text041">Total SSDs Tested</span>
              <div class="home-container12">
                <div class="home-container13">
                  <span class="home-text042">1.</span>
                  <span class="home-text043">2.</span>
                  <span class="home-text044">3.</span>
                  <span class="home-text045">4.</span>
                  <span class="home-text046">5.</span>
                  <span class="home-text047">6.</span>
                  <span class="home-text048">7.</span>
                  <span class="home-text049">8.</span>
                  <span class="home-text050">9.</span>
                  <span class="home-text051">10.</span>
                </div>
                <div class="home-container14">
                  <span class="home-text052">[C1]</span>
                  <span>[C2]</span>
                  <span>[C3]</span>
                  <span>[C4]</span>
                  <span>[C5]</span>
                  <span>[C6]</span>
                  <span>[C7]</span>
                  <span>[C8]</span>
                  <span>[C9]</span>
                  <span>[C10]</span>
                </div>
                <div class="home-container15">
                  <span class="home-text062">[D1]</span>
                  <span>[D2]</span>
                  <span>[D3]</span>
                  <span>[D4]</span>
                  <span>[D5]</span>
                  <span>[D6]</span>
                  <span>[D7]</span>
                  <span>[D8]</span>
                  <span>[D9]</span>
                  <span>[D10]</span>
                </div>
              </div>
            </div>
            <div class="home-container16">
              <span class="home-text072">Fastest Overall Avg Throughput</span>
              <div class="home-container17">
                <div class="home-container18">
                  <span class="home-text073">1.</span>
                  <span class="home-text074">2.</span>
                  <span class="home-text075">3.</span>
                  <span class="home-text076">4.</span>
                  <span class="home-text077">5.</span>
                  <span class="home-text078">6.</span>
                  <span class="home-text079">7.</span>
                  <span class="home-text080">8.</span>
                  <span class="home-text081">9.</span>
                  <span class="home-text082">10.</span>
                </div>
                <div class="home-container19">
                  <span class="home-text083">[E1]</span>
                  <span>[E2]</span>
                  <span>[E3]</span>
                  <span>[E4]</span>
                  <span>[E5]</span>
                  <span>[E6]</span>
                  <span>[E7]</span>
                  <span>[E8]</span>
                  <span>[E9]</span>
                  <span>[E10]</span>
                </div>
                <div class="home-container20">
                  <span class="home-text093">[F1]</span>
                  <span>[F2]</span>
                  <span>[F3]</span>
                  <span>[F4]</span>
                  <span>[F5]</span>
                  <span>[F6]</span>
                  <span>[F7]</span>
                  <span>[F8]</span>
                  <span>[F9]</span>
                  <span>[F10]</span>
                </div>
              </div>
              <span class="home-text103">
                Only drives with 10+ benchmarks included
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
